# Virtual Environment
transformer_env/
venv/
env/
lib/
pip/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
 

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# TensorFlow
*.h5
checkpoints/
logs/
translator_model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
translator_model/variables/* filter=lfs diff=lfs merge=lfs -text